
<div class="container-fluid">
    <div class="container py-2">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="container">
                    <div class="row">
                        <a routerLink="./login" class="tab col-md-6" routerLinkActive="active">LOGIN</a>
                        <a routerLink="./register" class="tab col-md-6" routerLinkActive="active">REGISTER</a>
                    </div>
                
                    <div class="row log-reg-wrapper">
                        <div class="col-md-12">    
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
