/* You can add global styles to this file, and also import other style files */
.navbar-wrap{
    font-size: 25px;
    background-color: #009688;
}

.logo-wrapper{
    border-radius: 50%;
}

.navbar-wrap a{
    color: #ff6600;
    font-family: Balaram;
    display: block;
}

.navbar-wrap a:hover {
    background-color: #009688;
    color: white;
  }

.page-heading{
    text-align:left;
    font-weight:bold;
    color:#cc6600;
}

.heading-image{
    width:70px;
    height:80px;
}

.body-container{
    background-color: #D3D3D3;
}
.log-reg-wrapper{
    background-color: #4C4C4E;
    color: white;
    padding: 10px 0;
}
.tab{
    padding: 15px 0;
    text-align:center;
    background-color: #009688;
    color: #ff6600;
    width: 50%;
}
.tab:hover {
    background-color: #ff6600;
    color: #009688;
}
.footer-wrap{
    font-size: 25px;
    background-color: #009688;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.tab.active{
    background-color: #4C4C4E;
    color: white;
    transition: background-color 1s;
}

/*#26519e*/